```css
/*
* --------------------------------------------
* Custom styles to override the default Bootstrap ones
* --------------------------------------------
*/

/* New Color Palette:
* Lightest (Text):         #f2fbf2      (text, contrast with dark)
* Dark Green (Primary):    #005a00      
* Light Green (Secondary): #72b372      (canvas background)
* Reddish-Brown (Accent):  #b75858
*/
/* New Color Palette:
* Lightest (Text):         #e0fbfc      (text, contrast with dark)
* Dark Blue (Primary):    #293241      
* Light Blue (Secondary): #98C1D9      (canvas background)
* orange (Accent):  #EE6C4D
*/
:root {
    --bs-info: #98C1D9
}
.bg-warning {
    background-color: #98C1D9 !important; /* Light green for secondary backgrounds */
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: #293241; /* Dark green for brand name & nav links for visibility */
}

.btn-outline-success {
    color: #293241;            /* Lightest shade for text on info button for contrast */
    background-color: #98C1D9; /* Light green for button background */
    border-color: #293241;     /* Dark green for button border */
}

.btn-primary {
    color: #e0fbfc;            /* Lightest shade for text */
    font-size: 150%;
    background-color: #293241; /* Dark green for primary button background */
    border-color: #EE6C4D;     /* Reddish-brown for border to use as accent */
    border-width: thick;
}

.navbar-brand {
    font-family: 'Caveat', cursive;
}


body {
    background-color: #e0fbfc; /* Lightest shade for body background to follow the 60% rule */
}
```
